<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.travel.torest"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/to_rest"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.SlidingMenu"
            android:icon="@mipmap/to_rest"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.CountriesActivity_"
            android:label="@string/title_activity_countries"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.ResortsActivity_"
            android:label="@string/title_activity_resorts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.HotelsActivity_"
            android:label="@string/title_activity_hotels"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.CitiesActivity_"
            android:label="@string/title_activity_cities"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.HotelCategoriesActivity_"
            android:label="@string/title_activity_holtel_categories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.SupplyActivity_"
            android:label="@string/title_activity_supply"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.NewTouristActivity_"
            android:label="@string/title_activity_new_tourist"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.ToBookActivity_"
            android:label="@string/title_activity_to_book"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.HotelInfoActivity_" />
        </activity>

        <activity
            android:name=".screens.HotToursActivity_"
            android:label="@string/title_activity_hot_tours"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.SlidingMenu" />
        </activity>
        <activity
            android:name=".screens.HotelInfoActivity_"
            android:label="@string/title_activity_hotel_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.travel.torest.screens.HotToursActivity_" />
        </activity>
    </application>

</manifest>
